html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.auth-form-header{

    background-color:aqua;
    border-top-left-radius:9px;
    border-top-right-radius:9px;
    text-align:center;

}

.auth-form-content {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: whitesmoke;
}

.reset-pass-header {

    background-color: dimgray;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    text-align: center;
    color:white;
    vertical-align:central;
    height:50px;

}

.reset-pass-content {

    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color:antiquewhite;
}

.header-link{

    text-decoration:none;
    color:black;
}

.header-link:hover {
    color: blue;
}

.status-badge{

    border-radius:9px;
    
    color:white;
    font-weight:bold;
    width:75px;
    height:30px;
    text-align:center;

}

.priority-badge {
    border-radius: 9px;
    color: white;
    font-weight: bold;
    width: 75px;
    height: 30px;
    text-align: center;
}
