<div class="row">
    <div class="col-md-10 offset-1 alert alert-danger text-danger">
        <h3>
            You are not authorized to acces this page!
            <hr />
            Please contact the administrator!
        </h3>
        <a class="btn btn-info float-end">
            Back
        </a>
    </div>
</div>

