<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelpDeskTicketing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelpDeskTicketing.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Help Desk Ticketing</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" 
                            aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (User.Identity.IsAuthenticated)
                {

                    @if (User.IsInRole("SystemAdmin"))
                    {

                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                           <button class="btn btn-outline-primary" asp-action="#">
                               Open requests <span class="badge bg-danger">5</span>
                           </button>

                            <button class="btn btn-outline-success" asp-action="#">
                                <i class="bi bi-card-checklist"></i>
                                Assigned requests  <span class="badge bg-danger">5</span>
                            </button>

                            <button class="btn btn-outline-info" asp-action="#">
                                <i class="bi bi-card-checklist"></i>
                                Closed requests  <span class="badge bg-danger">5</span>
                            </button>
                        </div>

                    }

                    @if(User.IsInRole("User"))
                    {

                        <a class="btn btn-outline-primary"  asp-controller="UserTicket" asp-action="GetAllTickets">
                            <i class="bi bi-card-text"></i>
                            My requests
                        </a>

                        <a class="btn btn-outline-success" asp-controller="UserTicket" asp-action="AddTicket">
                            <i class="bi bi-database-add"></i>
                            New request
                        </a>
                    }

                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" style="margin-right:25px;"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false" id="meniuUtilizator">

                            @User.Identity.Name

                        </button>
                        <ul class="dropdown-menu" aria-labelledby="meniuUtilizator">
                            <li>
                                <a class="dropdown-item" asp-controller="Account" asp-action="ResetPasswordByUser">
                                    <i class="bi bi-key"></i>
                                        Reset password
                                </a>

                                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                    <i class="bi bi-box-arrow-left"></i>
                                        Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HelpDeskTicketing - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)

</body>
</html>
