@model Ticket

@{

    ViewData["Title"] = "Ticket details"; 

}

<div class="row">
    <div class="col-md-4 offset-4 fw-bold">
        <h2 class="fw-bold"> Ticket details </h2>
    </div>
    
    <div>



    </div>
</div>